.title{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  vertical-align: center;
  background-color: #71868d;
}

.app-title{
  font-size: 50px;
  color: white;
}

.error{
  color: red;
}

.searchbar-container{
  display: flex;
  justify-content: center;
}